<!DOCTYPE html>
<html>
  <%include ../partials/head.ejs%>
  <body>
    <%include ../partials/menu.ejs%>
    <!--Page Contents-->
    <div class="pusher">
      <div class="ui vertical stripe segment" style="margin-top:40px;<%if(history.length < 6){%>margin-bottom:200px;<%}else{%>margin-bottom:50px;<%}%>">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="center aligned column">
              <%if(sessions.role == 'admin'){%>
                <h3>Daftar Riwayat Penjualan</h3>
              <%}else{%>
                <h3>Daftar Riwayat Pesanan</h3>
              <%}%>
            </div>
          </div>
          <table class="ui celled table">
            <thead>
              <tr>
                <th>Tanggal</th>
                <th>Kode Tiket</th>
                <th>Judul Film</th>
                <th>Total</th>
                <%if(sessions.role == 'admin'){%>
                  <th>Nama Pemesan</th>
                <%}%>
              </tr>
            </thead>
            <tbody>
              <%history.forEach(his => {%>
                <tr>
                  <td><%=new Date(his.buy_date)%></td>
                  <td><%=his.ticket_code%></td>
                  <td><%if(his.Movie){%><%=his.Movie.title%><%}else{%>deleted<%}%></td>
                  <td><%if(his.Movie){%><%=his.Movie.ticket_price%><%}else{%>deleted<%}%></td>
                  <%if(sessions.role == 'admin'){%>
                    <td><%=his.Profile.getFullName()%></td>
                  <%}%>
                </tr>
              <%})%>
            </tbody>
          </table>
          </div>
        </div>
      </div>
      <%include ../partials/footer.ejs%>
    </div>
  </body>
</html>
