<!DOCTYPE html>
<html>
  <%include ../partials/head.ejs%>
  <body>
    <%include ../partials/menu.ejs%>
    <!--Page Contents-->
    <div class="pusher">
      <div class="ui vertical stripe segment" style="margin-top:40px;margin-bottom:50px;">
        <div class="ui middle aligned stackable grid container center aligned">
          <div class="row">
            <div class="center aligned column">
              <h3>Profile</h3>
            </div>
          </div>
          <div class="row">
              <div class="five wide column right aligned">
                <%if(profile.picture_name){%>
                  <img src="/uploads/<%=profile.picture_name%>" style="margin-right:30px;border-radius:100%;height:200px;width:200px">
                <%}else{%>
                  <img src="/img/user.png" style="margin-right:30px;border-radius:100%;height:200px;width:200px">  
                <%}%>
              </div>
              <div class="six wide column" style="text-align:left;">
                <h2><%=profile.getFullName()%> <a href="/profile/edit"><i class="edit icon"></i></a></h2>
                <span><%=profile.email%></span><br>
                <span><%=profile.phone_number%></span><br>
                <span>Jumlah Pesanan : <%=profile.Movies.length%> kali</span><br>
                <span><a href="/profile/history">History Pembelian</a></span>
              </div>
          </div>
        </div>
      </div>
      <%include ../partials/footer.ejs%>
    </div>
  </body>
</html>
