<!DOCTYPE html>
<html>
  <%include ../partials/head.ejs%>
  <body>
    <%include ../partials/menu.ejs%>
    <!--Page Contents-->
    <div class="pusher">
      <div class="ui vertical stripe segment" style="margin-top:40px;">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="center aligned column">
              <h3>Daftar Film</h3>
            </div>
          </div>
          <div class="ui four column row">
            <%movies.forEach(movie => {%>
              <div class="column">
                <div class="ui segment">
                  <div class="ui card">
                    <%if(sessions.role == 'admin'){%>
                      <a href="/movies/edit/<%=movie.id%>">
                        <i class="edit icon" style="position:absolute;z-index:999;margin:15px 0 0 15px;font-size:30px;color:#fff"></i>
                      </a>
                    <%}%>
                    <div class="image">
                      <img src="/uploads/<%=movie.picture_name%>">
                    </div>
                    <div class="content">
                      <div class="header">
                        <%=movie.title%>
                      </div>
                      <div class="description">
                        <%var des = movie.description.slice(0, 82)%>
                        <%=des%>...
                      </div>
                    </div>
                    <div class="ui two bottom attached buttons">
                      <a class="ui button" href="/movies/<%=movie.id%>" style="color:#333">
                        <i class="add icon"></i>
                        Detail
                      </a>
                      <a class="ui primary button" href="/movies/<%=movie.id%>/book" style="color:#fff">
                        <i class="play icon"></i>
                        Pesan
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <%})%>
          </div>
        </div>
      </div>
      <%include ../partials/footer.ejs%>
    </div>
  </body>
</html>
